<!DOCTYPE html>
<html lang="en">
<body>
    {{!-- We include below which is partial file header_error.hbs--}}
    {{>header_error}}
    {{!-- We include below which is partial file footer_error.hbs--}}
    {{>footer_error}}
</body>    
</html>