<!DOCTYPE html>
<html lang="en">
    {{!-- Below css won't have any effect, better include it in header_error.hbs --}}
    {{!-- <head>
        <link rel="stylesheet" href="../../public/css/styles.css">
    </head> --}}
<body>
    {{!-- We include below which is partial file header_error.hbs--}}    
    {{>header_error}}
    {{!-- We include below which is partial file footer_error.hbs--}}
    {{>footer_error}}
</body>    
</html>