/* h1
{
    color: coral;    
}
img
{
    width: 70%;
    
} */


body {
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

.main-content
{
    flex-grow: 1;
}
footer {
    color: seagreen;
    margin: 16px;
    padding: 16px 0;
    border-top: 1px solid gray;
}

input{
    border: 1px solid royalblue;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid sienna;
    background: rebeccapurple;
    color: whitesmoke;
    padding: 8px;
}